:root {
  --primary: #bf4605;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16pt;
}

header,
footer {
  min-height: 10vh;
}

header {
  text-align: center;
}

h1 {
  color: var(--primary);
}

header h1 {
  border-bottom: double;
  display: inline;
}

header ul li {
  display: inline;
  padding: 0 1px;
}

main {
  flex-grow: 1;
}

main h1 {
  margin: 0;
}

#skills ul {
  column-count: 2;
}

.job p,
.education p {
  margin: 0;
}

.job ul {
  margin: 0.5em 0;
}

.job p:first-child,
.education p:first-child {
  margin-top: 1em;
}
